body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/noise_transparent.png");
  background-color: #D7D8D1; }

#wrapper {
  width: 100%; }

#logo {
  background-image: url("../img/addon_icon_128.png");
  width: 128px;
  height: 128px; }

.content-block {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5em; }
  .content-block ul {
    list-style-position: inside;
    list-style-type: square;
    font-size: 1.2em; }
  .content-block #feature-container {
    padding-left: 15px;
    padding-right: 15px; }
  .content-block .feature-cell {
    padding: 10px;
    width: calc(50% - 20px);
    float: left; }
    .content-block .feature-cell .feature-cell-head {
      font-weight: bold;
      text-align: left; }
      .content-block .feature-cell .feature-cell-head:before {
        content: url("../img/star.png"); }
    .content-block .feature-cell .feature-cell-body {
      text-align: left; }
  .content-block .step-item {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color: #444; }
    .content-block .step-item .step-item-number {
      float: left;
      font-size: 2em;
      margin-right: 10px;
      border: 2px solid #444;
      border-radius: 100%;
      padding: 10px;
      background-color: #b5c7fe; }
    .content-block .step-item .step-item-content {
      color: black; }
  .content-block .step-item + .step-item {
    margin-top: 20px; }
  .content-block .big {
    font-size: 2em;
    text-align: center; }
  .content-block .huge {
    font-size: 3em;
    text-align: center;
    text-shadow: #333 3px 3px 5px;
    margin-bottom: 20px;
    height: 40px; }

.address {
  font-style: italic; }
  .address a {
    color: #111; }

.gradient-button-orange {
  background-image: linear-gradient(#FFCC00, #FFA200);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 1em;
  text-shadow: none;
  font-weight: bold;
  color: #222;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  margin-right: 20px; }
  .gradient-button-orange:focus, .gradient-button-orange:active, .gradient-button-orange:hover {
    background-image: linear-gradient(#FFA200, #FFCC00); }

.gradient-button-grey {
  background-image: linear-gradient(#D0D0D0, #A2B2B2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 1em;
  text-shadow: none;
  font-weight: bold;
  color: #222;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none; }
  .gradient-button-grey:focus, .gradient-button-grey:active, .gradient-button-grey:hover {
    background-image: linear-gradient(#A2B2B2, #D0D0D0); }

.float-left {
  float: left; }

.clear {
  clear: both;
  float: none; }

.center {
  margin: 0 auto !important;
  text-align: center; }

#button_container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.grey {
  background-image: url("../img/noise_transparent.png");
  background-color: #444;
  color: white; }

.yellow {
  background-image: url("../img/noise_transparent.png");
  background-color: #FFFFB9;
  color: #222; }

.blue {
  background-image: url("../img/noise_transparent.png");
  background-color: #9CB3FE;
  color: white; }

.bordeux {
  background-image: url("../img/noise_transparent.png");
  background-color: #93002F;
  color: white;
  text-align: justify !important; }

.address {
  font-family: serif;
  font-size: 1em; }
